/*
 * @Author: mikey.zhaopeng 
 * @Date: 2018-05-07 17:16:55 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-07 17:19:13
 */
.operation{
    margin-right: 20px;
    cursor: pointer;
    color:#337AB7;
}
.operation:hover{
    text-decoration: underline;
}